.slider-container {
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 800px;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 20px;
  box-shadow: 0 0 25px rgba(255, 105, 180, 0.4);
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* garante que preencha sem distorcer */
  opacity: 0;
  transition: opacity 1s ease-in-out;
  border-radius: 20px; /* igual ao container, para evitar vazamento da imagem */
}

.slide.active {
  opacity: 1;
  z-index: 1;
}
